<footer>
    <!-- This icon buttons take you to various social media platforms -->
    <div class="social-icons">
        <button><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></button>
        <button><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></button>
        <button><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></button>
        <button><a href="https://github.com"><i class="fab fa-github"></i></a></button>
        <button><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></button>
    </div>
    <div class="newsletter">
        Sign up for our newsletter
        <input type="email" placeholder="">
        <button>Subsribe</button>
        <br>
        <br>
        <p>&copy;FrankView 2024.</p>
    </div>
</footer>